.footer {
  margin-top: 50px;
  background-color: rgb(50, 48, 48);
  height: 100px;
  color:rgb(137, 131, 131);
  text-align: center;
  padding: 70px;
}

.footer-copyright {
  font-size: 17px;
  padding: 20px;
}

a i {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(9, 248, 9);
  padding: 8px;
}

.footer-copyright i {
  color: red;
}
